.abbreviations-table {
    -fx-table-cell-border-color: transparent;
}

.custom-header {
    -fx-margin-top: 10px;
    -fx-padding: 10px;
    -fx-spacing: 5px;
}

.icon {
    -fx-font-size: 1.5em;
    -fx-padding: 0.1em 0.2em 0.1em 0.2em;
}
