.column-icon {
    -fx-alignment: baseline-center;
    -fx-padding: 0;
}

.column-header.column-icon > .label {
    -fx-padding: 0;
    -fx-alignment: baseline-center;
}

.empty-special-field {
    visibility: hidden;
}

.table-row-cell:hover .empty-special-field {
    visibility: visible;
    -fx-icon-color: -jr-gray-2;
    -fx-fill: -jr-gray-2;
}

.table-row-cell:dragOver-bottom {
    -fx-border-color: -jr-drag-target;
    -fx-border-width: 0 0 2 0;
    -fx-padding: 0 0 -2 0;
}

.table-row-cell:dragOver-center {
    -fx-border-color: -jr-drag-target;
    -fx-border-width: 1 1 1 1;
    -fx-padding: -1 -1 -1 -1;
    -fx-background-color: -jr-drag-target-hover;
}

.table-row-cell:dragOver-top {
    -fx-border-color: -jr-drag-target;
    -fx-border-width: 2 0 0 0;
    -fx-padding: -2 0 0 0;
}

/** even and odd are swapped around somehow. Below "odd" matches lines 2, 4, ... **/

.table-row-cell:matching-search-and-groups {
    -fx-background-color: -jr-match-1-even;
}
.table-row-cell:matching-search-and-groups > .table-cell {
    -fx-text-fill: -jr-match-1-text-color;
}
.table-row-cell:matching-search-and-groups:focused > .table-cell {
    -fx-text-fill: -fx-focused-text-base-color;
}
.table-row-cell:matching-search-and-groups:focused:hover > .table-cell {
    -fx-text-fill: -jr-maintable-focused-hover-text;
}
.table-row-cell:matching-search-and-groups:focused:hover > .table-cell > .ikonli-font-icon {
    -fx-icon-color: -jr-maintable-focused-hover-text;
}
.table-row-cell:matching-search-and-groups:hover > .table-cell {
    -fx-text-fill: -jr-hover-text;
}
.table-row-cell:matching-search-and-groups > .table-cell > .ikonli-font-icon {
    -fx-icon-color: -jr-match-1-text-color;
}
.table-row-cell:matching-search-and-groups:hover > .table-cell > .ikonli-font-icon {
    -fx-icon-color: -jr-hover-text;
}
.table-row-cell:matching-search-and-groups:odd {
    -fx-background-color: -jr-match-1-odd;
}
.table-row-cell:matching-search-and-groups:odd:selected,
.table-row-cell:matching-search-and-groups:odd:focused,
.table-row-cell:matching-search-and-groups:odd:focused:hover,
.table-row-cell:matching-search-and-groups:focused:hover {
    -fx-background-color: -jr-selected;
}
.table-row-cell:matching-search-and-groups:odd:hover {
    -fx-background-color: -jr-hover;
}

.table-row-cell:matching-search-not-groups {
    -fx-background-color: -jr-match-2-even;
}
.table-row-cell:matching-search-not-groups > .table-cell {
    -fx-text-fill: -jr-match-2-text-color;
}
.table-row-cell:matching-search-not-groups:focused > .table-cell {
    -fx-text-fill: -fx-focused-text-base-color;
}
.table-row-cell:matching-search-not-groups:focused:hover > .table-cell {
    -fx-text-fill: -jr-maintable-focused-hover-text;
}
.table-row-cell:matching-search-not-groups:focused:hover > .table-cell > .ikonli-font-icon {
    -fx-icon-color: -jr-maintable-focused-hover-text;
}
.table-row-cell:matching-search-not-groups:hover > .table-cell {
    -fx-text-fill: -jr-hover-text;
}
.table-row-cell:matching-search-not-groups > .table-cell > .ikonli-font-icon {
    -fx-icon-color: -jr-match-2-text-color;
}
.table-row-cell:matching-search-not-groups:hover > .table-cell > .ikonli-font-icon {
    -fx-icon-color: -jr-hover-text;
}
.table-row-cell:matching-search-not-groups:odd {
    -fx-background-color: -jr-match-2-odd;
}
.table-row-cell:matching-search-not-groups:odd:selected,
.table-row-cell:matching-search-not-groups:odd:focused,
.table-row-cell:matching-search-not-groups:odd:focused:hover,
.table-row-cell:matching-search-not-groups:focused:hover {
    -fx-background-color: -jr-selected;
}
.table-row-cell:matching-search-not-groups:odd:hover {
    -fx-background-color: -jr-hover;
}

.table-row-cell:matching-groups-not-search {
    -fx-background-color: -jr-match-3-even;
}
.table-row-cell:matching-groups-not-search > .table-cell {
    -fx-text-fill: -jr-match-3-text-color;
}
.table-row-cell:matching-groups-not-search:focused > .table-cell {
    -fx-text-fill: -fx-focused-text-base-color;
}
.table-row-cell:matching-groups-not-search:focused:hover > .table-cell {
    -fx-text-fill: -jr-maintable-focused-hover-text;
}
.table-row-cell:matching-groups-not-search:focused:hover > .table-cell > .ikonli-font-icon {
    -fx-icon-color: -jr-maintable-focused-hover-text;
}
.table-row-cell:matching-groups-not-search:hover > .table-cell {
    -fx-text-fill: -jr-hover-text;
}
.table-row-cell:matching-groups-not-search > .table-cell > .ikonli-font-icon {
    -fx-icon-color: -jr-match-3-text-color;
}
.table-row-cell:matching-groups-not-search:hover > .table-cell > .ikonli-font-icon {
    -fx-icon-color: -jr-hover-text;
}
.table-row-cell:matching-groups-not-search:odd {
    -fx-background-color: -jr-match-3-odd;
}
.table-row-cell:matching-groups-not-search:odd:selected,
.table-row-cell:matching-groups-not-search:odd:focused,
.table-row-cell:matching-groups-not-search:odd:focused:hover,
.table-row-cell:matching-groups-not-search:focused:hover {
    -fx-background-color: -jr-selected;
}
.table-row-cell:matching-groups-not-search:odd:hover {
    -fx-background-color: -jr-hover;
}

.table-row-cell:not-matching-search-and-groups {
    -fx-background-color: -jr-match-4-even;
}
.table-row-cell:not-matching-search-and-groups > .table-cell {
    -fx-text-fill: -jr-match-4-text-color;
}
.table-row-cell:not-matching-search-and-groups:focused > .table-cell {
    -fx-text-fill: -fx-focused-text-base-color;
}
.table-row-cell:not-matching-search-and-groups:focused:hover > .table-cell {
    -fx-text-fill: -jr-maintable-focused-hover-text;
}
.table-row-cell:not-matching-search-and-groups:focused:hover > .table-cell > .ikonli-font-icon {
    -fx-icon-color: -jr-maintable-focused-hover-text;
}
.table-row-cell:not-matching-search-and-groups:hover > .table-cell {
    -fx-text-fill: -jr-hover-text;
}
.table-row-cell:not-matching-search-and-groups > .table-cell > .ikonli-font-icon {
    -fx-icon-color: -jr-match-4-text-color;
}
.table-row-cell:not-matching-search-and-groups:hover > .table-cell > .ikonli-font-icon {
    -fx-icon-color: -jr-hover-text;
}
.table-row-cell:not-matching-search-and-groups:odd {
    -fx-background-color: -jr-match-4-odd;
}
.table-row-cell:not-matching-search-and-groups:odd:selected,
.table-row-cell:not-matching-search-and-groups:odd:focused,
.table-row-cell:not-matching-search-and-groups:odd:focused:hover,
.table-row-cell:not-matching-search-and-groups:focused:hover {
    -fx-background-color: -jr-selected;
}
.table-row-cell:not-matching-search-and-groups:odd:hover {
    -fx-background-color: -jr-hover;
}

.rating > .container {
    -fx-spacing: 2;
}

.rating > .container > .button {
    -fx-pref-width: 16;
    -fx-pref-height: 10;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: 16 16;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.rating > .container > .button.strong {

}

.rating > .container > .button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}
