#sideMenu {
    -fx-background-color: #141824;
}

#vBoxPane {
    -fx-background-color: #141824;
}

#dialogPane {
    -fx-background-color: #141824;
}

#sideMenu > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 8 8 8 8;
    -fx-background: #141824;
}

.preferencePaneContainer {
    -fx-padding: 0em 1em 0em 3em;
}

.sectionHeader {
    -fx-font-size: 1.5em;
    -fx-padding: 1em 0em 1em 0em;
}
