.root {
    -jr-theme: #30bfbb;

    -jr-background-alt: #151924;
    -jr-menu-background: #141824;
    -jr-toolbar: -jr-menu-background;
    -jr-sidepane-background: #212330;
    -jr-search-background: #2c2e3b;

    -jr-sidepane-header-background: -jr-background-alt;
    -jr-group-hits-bg: -jr-background-alt;
    -jr-group-hits-fg: -fx-light-text-color;
    -fx-control-inner-background: #272b38;

    -fx-control-inner-background-alt: -fx-control-inner-background;

    -fx-dark-text-color: black;
    -fx-mid-text-color: #949da9;
    -fx-light-text-color: #ced2df;
    -jr-separator: #333744;
    -fx-outer-border: #424758;

    -jr-icon: -fx-light-text-color;

    -jr-menu-foreground: #fdfffa;
    -jr-menu-item-foreground: -fx-light-text-color;

    -jr-hover: derive(-jr-accent, 10%);
    -fx-focused-text-base-color: -fx-dark-text-color;
}

.menu-bar {
    -fx-background-color: -jr-menu-background;
}

.menu-bar > .container > .menu-button > .label {
    -fx-padding: 0.41777em 0.41777em 0.41777em 0.41777em;
}

.menu-bar > .menu {
    -fx-padding: 0.0em 0.666667em 0.0em 0.666667em;
}

.menu-item {
    -fx-padding: 0.5em 0.41777em 0.5em 0.41777em;
}
