/*
 * The base css file defining the style that is valid for every pane and dialog.
 */

.root {
    /*
     * A strong blue to indicate something neutral.
     */
    -fx-neutral: #2980b9;

    /*
     * A strong green to indicate something positive.
     */
    -fx-positive: #27ae60;

    /*
     * A strong red to indicate something negative.
     */
    -fx-negative: #c0392b;

    /*
     * A dark grayish blue to display information (but kind of highlighted).
     */
    -fx-info: #2c3e50;

    /*
     * A dark gray to indicate something not so important
     */
    -fx-unimportant: #595959;

    /*
     * A light gray for accented background
     */
    -fx-accented-background: #dadad8;

    /*
     * A darker gray as background
     */
    -fx-dark-background: #aaaaaa;

    /*
     * A strong white as background
     */
    -fx-light-background: #ffffff;

    /*
     * A strong blue for backgrounds of active items (toggle button, selected list item)
     */
    -fx-active-background: #6A9FCD;

    /*
     * A dark gray for borders
     */
    -fx-border: #868786;

    /*
     * A light gray for background for active items in list like elements such as menus, lists, trees, and tables.
     */
    -fx-selection-bar: #e5e5e5;
}

.hyperlink {
    -fx-padding: 0;
    -fx-underline: false;
    -fx-border-style: null;
    -fx-border-color: null;
}

.hyperlink:visited {
    -fx-text-fill: -fx-accent;
}

 .icon {
 	-fx-font-family: 'Material Design Icons';
	-fx-font-size: 16.0;
 }

.glyph-icon {
    -fx-font-size: 20.0;
    -glyph-size: 20.0;
}

.tooltip {
    -fx-background-color: #616161;
    -fx-opacity: 95%;
    -fx-text-fill: rgba(255, 255, 255, 0.9);
    -fx-font-size: 1em;
}

.tooltip > TextFlow > Text {
    -fx-fill: rgba(255, 255, 255, 0.9);
    -fx-font-size: 1em;
}

.tooltip > TextFlow > .tooltip-text-bold {
    -fx-font-weight: bold;
}

.tooltip > TextFlow > .tooltip-text-italic {
    -fx-font-style: italic;
}

.tooltip > TextFlow > .tooltip-text-monospaced {
    -fx-font-family: monospace;
}

.flatButtonNoSpaceBottom,
.flatButtonNoSpaceTop,
.flatButton {
    -fx-shadow-highlight-color: transparent;
    -fx-outer-border: transparent;
    -fx-inner-border: transparent;
    -fx-focus-color: #6A9FCD;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-text-background-color: dimgray;
    -fx-padding: 0.5em;
}

.flatButton:selected {
    -fx-background-color: -fx-active-background;
    -fx-text-fill: white;
    -fx-fill: white;
}

.flatButtonNoSpaceBottom {
    -fx-padding: 0.5em 0.5em -0.1em 0.5em;
}

.flatButtonNoSpaceTop {
    -fx-padding: -0.1em 0.5em 0.5em 0.5em;
}

.menu-bar {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.menu-bar > .container > .menu-button > .label {
    -fx-padding: 0.41777em 0.41777em 0.41777em 0.41777em; /* 5 5 5 5 */
}

.menu-bar > .menu {
    -fx-padding: 0.0em 0.666667em 0.0em 0.666667em; /* 0 8 0 8 */
}

.menu-item {
    -fx-padding: 0.5em 0.41777em 0.5em 0.41777em; /* 6 5 6 5 */
}

.tab-pane {
    -fx-open-tab-animation: NONE;
    -fx-close-tab-animation: NONE;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: -fx-accented-background;
    -fx-border-color: -fx-border;
    -fx-border-width: 0.5 0.5 0.5 0.5;
    -fx-padding: 0.4em 0.9em 0.4em 0.9em;
}

.tab-pane > .tab-header-area > .headers-region > .tab .tab-label {
    -fx-text-fill: -fx-unimportant;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -fx-light-background;
    -fx-border-color: -fx-active-background;
    -fx-border-width: 3 0 0 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected .tab-label {
    -fx-text-fill: black;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: -fx-accented-background;
}

.tab-pane > .tab-header-area > .headers-region > .tab .glyph-icon {
    -glyph-size: 13px;
    -fx-text-fill: -fx-unimportant;
    -fx-fill: -fx-unimportant;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected .glyph-icon {
    -fx-text-fill: black;
    -fx-fill: black;
}

.tab-pane > .tab-header-area {
    -fx-padding: 0.416667em 5 0.0em 0em;
}

.table-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view:focused {
    -fx-background-insets: 0;
}

.split-pane > .split-pane-divider {
    -fx-background-color: -fx-accented-background;
    -fx-padding: 0 0.15ex 0 0.15ex;
}

.table-row-cell:hover,
.tree-table-row-cell:hover {
    -fx-background-color: lightgrey;
}

.table-row-cell:selected,
.tree-table-row-cell:selected {
    -fx-background-color: #6A9FCD;
    -fx-text-fill: white;
    -fx-fill: white;
}

.tree-table-row-cell:selected > .tree-table-cell > .glyph-icon {
    -fx-fill: white;
    -fx-text-fill: white;
}

.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

/* Selected rows */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
    -fx-background: -fx-selection-bar;
    -fx-table-cell-border-color: transparent;
}

/* Selected when control is not focused */
.list-cell:filled:selected,
.tree-cell:filled:selected,
.table-row-cell:filled:selected,
.tree-table-row-cell:filled:selected,
.table-row-cell:filled > .table-cell:selected,
.tree-table-row-cell:filled > .tree-table-cell:selected {
    -fx-background: -fx-selection-bar;
    -fx-table-cell-border-color: transparent;
}

.sidePaneComponentHeader {
    -fx-background-color: -fx-dark-background;
}

.mainMenu {
    -fx-background-color: #7d6180;
}
