/*
 * The base css file defining the style that is valid for every pane and dialog.
 */

.root {
    /*
     * A strong blue to indicate something neutral.
     */
    -fx-neutral: #2980b9;

    /*
     * A strong green to indicate something positive.
     */
    -fx-positive: #27ae60;

    /*
     * A strong red to indicate something negative.
     */
    -fx-negative: #c0392b;

    /*
     * A dark grayish blue to display information (but kind of highlighted).
     */
    -fx-info: #2c3e50;

    /*
     * A light gray for accented background
     */
    -fx-accented-background: #dadad8;

    /*
     * A dark gray as background
     */
    -fx-dark-background: #757575;

    /*
     * A strong blue for backgrounds of active items (toggle button, selected list item)
     */
    -fx-active-background: #6A9FCD;

}

.hyperlink {
    -fx-padding: 0;
    -fx-underline: false;
    -fx-border-style: null;
    -fx-border-color: null;
}

.hyperlink:visited {
    -fx-text-fill: -fx-accent;
}

 .icon {
 	-fx-font-family: 'Material Design Icons';
	-fx-font-size: 16.0;
 }

.glyph-icon {
    -fx-font-size: 20.0;
    -glyph-size: 20.0;
}

.tooltip {
    -fx-background-color: #616161;
    -fx-opacity: 95%;
    -fx-text-fill: rgba(255, 255, 255, 0.9);
    -fx-font-size: 1em;
}

.tooltip > TextFlow > Text {
    -fx-fill: rgba(255, 255, 255, 0.9);
    -fx-font-size: 1em;
}

.tooltip > TextFlow > .tooltip-text-bold {
    -fx-font-weight: bold;
}

.tooltip > TextFlow > .tooltip-text-italic {
    -fx-font-style: italic;
}

.tooltip > TextFlow > .tooltip-text-monospaced {
    -fx-font-family: monospace;
}

.flatButton {
    -fx-shadow-highlight-color: transparent;
    -fx-outer-border: transparent;
    -fx-inner-border: transparent;
    -fx-focus-color: #6A9FCD;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-text-background-color: dimgray;
    -fx-padding: 0.5em;
}

.flatButton:selected {
    -fx-background-color: -fx-active-background;
    -fx-text-fill: white;
    -fx-fill: white;
}
