/*
* JabRef base colors.
*/

@media (prefers-color-scheme: light) {
    * {
        -jr-theme: #50618F;
        -jr-selected: #A3B7E6;
        -jr-hover: #0002;

        -jr-icon-background-active: #0001;
        -jr-icon-background-armed: #0002;

        -jr-sidepane-background: #DDDDDD;
        -jr-sidepane-header-background: #D5D5D5;
        -jr-background-alt: #F0F0F0;
        -jr-search-background: #FBFBFB;

        -jr-group-hits-bg: #6F6F6F;
        -jr-group-hits-fg: #FFFFFF;

        -jr-drag-target: #A3B7E6;
        -jr-drag-target-hover: #B1C7FA;

        -jr-menu-background: #F4F4F4;
        -jr-menu-forground-active: #000;

        -jr-toolbar: #F4F4F4;
        -jr-separator: #DFDFDF;
        -jr-text-foreground: #000;

        -jr-purple: #7559C2;
        -jr-green: #10ac84;
        -jr-light-green: #1dd1a1;
        -jr-red: #ee5253;
        -jr-light-red: #ff6b6b;
        -jr-orange: #ff9f43;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        -jr-theme: #2C9490;
        -jr-selected: #255652;
        -jr-hover: #FFF1;

        -jr-icon-background-active: #FFF1;
        -jr-icon-background-armed: #FFF2;

        -jr-sidepane-background: #212330;
        -jr-sidepane-header-background: #151924;
        -jr-background-alt: #151924;
        -jr-search-background: #2C2E3B;

        -jr-group-hits-bg: #151924;
        -jr-group-hits-fg: #E5E7EA;

        -jr-drag-target: #255652;
        -jr-drag-target-hover: #5FDDD3;

        -jr-menu-background: #141824;
        -jr-menu-forground-active: #EFF1F5;

        -jr-separator: #333744;
        -jr-toolbar: #141824;
        -jr-text-foreground: #E5E7EA;

        -jr-purple: #b72486;
        -jr-green: #1cb631;
        -jr-light-green: #28d93c;
        -jr-red: #b71c1f;
        -jr-light-red: #db1d2b;
        -jr-orange: #b77620;
    }
}

/* JabRef variables and colors */
.root {
    /* Generic colors */
    -jr-icon-background: transparent;

    -jr-white: #ffffff;
    -jr-gray-1: #dddddd;
    -jr-gray-2: #808080;
    -jr-gray-3: #404040;
    -jr-black: #000;

    /* Main Table Matching */
    -jr-match-1-odd: -fx-control-inner-background-alt;
    -jr-match-1-even: -fx-control-inner-background;
    -jr-match-1-text-color: -jr-text-foreground;

    -jr-match-2-odd: derive(-fx-control-inner-background-alt, -40%);
    -jr-match-2-even: derive(-fx-control-inner-background, -40%);
    -jr-match-2-text-color: derive(-jr-text-foreground, -40%);

    -jr-match-3-odd: derive(-fx-control-inner-background-alt, -50%);
    -jr-match-3-even: derive(-fx-control-inner-background, -50%);
    -jr-match-3-text-color: derive(-jr-text-foreground, -50%);

    -jr-match-4-odd: derive(-fx-control-inner-background-alt, -60%);
    -jr-match-4-even: derive(-fx-control-inner-background, -60%);
    -jr-match-4-text-color: derive(-jr-text-foreground, -60%);

    -jr-ai-message-user: derive(-fx-accent, 50%);
    -jr-ai-message-user-border: -jr-theme;
    -jr-ai-message-ai: derive(-fx-accent, 80%);
    -jr-ai-message-ai-border: -jr-theme;
    -jr-ai-message-error: -jr-light-red;
    -jr-ai-message-error-border: derive(-jr-light-red, -40%);
}
