# unix  line endings at unix files
gradlew text eol=lf
*.sh text eol=lf

# windows line endings at windows files
*.bat text eol=crlf

# ensure that line endings of certain files are normalized to LF
*.bib text eol=lf
*.bak text eol=lf
*.fxml text eol=lf
*.java text eol=lf
*.properties text eol=lf

CHANGELOG.md merge=union
