[submodule "buildres/abbrv.jabref.org"]
  path = buildres/abbrv.jabref.org
  url = https://github.com/JabRef/abbrv.jabref.org.git
[submodule "buildres/csl-styles"]
  path = src/main/resources/csl-styles
  url = https://github.com/citation-style-language/styles.git
[submodule "buildres/csl-locales"]
  path = src/main/resources/csl-locales
  url = https://github.com/citation-style-language/locales.git
