bin
build.number
build/
nbproject/private/
src/main/resources/resource/build.properties
src/main/resources/windows/nsis/dist/
.gradle
hs_err*.log
jabref-launch4j.tmp
user.properties
out/
buildant/
*.iws
.idea/
*.ipr
*.iml
.settings/
.classpath
.project
