[submodule "abbrv.jabref.org"]
  path = jablib/src/main/abbrv.jabref.org
  url = https://github.com/JabRef/abbrv.jabref.org.git
  ignore = all
  shallow = true
[submodule "csl-styles"]
  path = jablib/src/main/resources/csl-styles
  url = https://github.com/citation-style-language/styles.git
  ignore = all
  shallow = true
[submodule "csl-locales"]
  path = jablib/src/main/resources/csl-locales
  url = https://github.com/citation-style-language/locales.git
  ignore = all
  shallow = true
[submodule "java-module-packaging"]
  path = java-module-packaging
  url = https://github.com/koppor/java-module-packaging.git
