language: java
jdk:
  - oraclejdk8
sudo: false

services:
  - postgresql
  - mysql

# skip installation as this is also done during the script step
install: true

# allow gui testing on travis
before_script:
  - psql -c 'create database jabref;' -U postgres

script:
  - ./gradlew check
  # Integration tests currently often fail with "Process 'Gradle Test Executor 1' finished with non-zero exit value 137"
  # They should run, but the result is ignored
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
  - ./gradlew integrationTest --info || true

after_script:
  # enable codecov report
  - ./gradlew jacocoTestReport
  - bash <(curl -s https://codecov.io/bash)

# cache gradle dependencies
# https://docs.travis-ci.com/user/languages/java#Caching
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
