java_version = 25
target = "linux-x64"
jvm_args = ["-Xlog:disable", "--enable-native-access=ALL-UNNAMED"]
profile = "cli"
appcds = true

# see https://jbundle.avelino.run/user-guide/configuration#maximum-performance-linux
# set to "false" for speedup
crac = false

# set to "false" for speedup
shrink = false
