java_version = 25
target = "linux-x64"
jvm_args = [
        "--add-modules", "jdk.incubator.vector",
        "--enable-native-access=com.sun.jna,org.apache.lucene.core",
        "--add-opens", "java.base/java.nio=org.apache.pdfbox.io",
        # https://github.com/uncomplicate/neanderthal/issues/55
        "--add-opens", "java.base/jdk.internal.ref=org.apache.pdfbox.io",
        # Enable JEP 450: Compact Object Headers
        "-XX:+UnlockExperimentalVMOptions", "-XX:+UseCompactObjectHeaders",
        "-XX:+UseStringDeduplication"
    ]

# profile = "cli"

# Required to have jlink working
appcds = true

# see https://jbundle.avelino.run/user-guide/configuration#maximum-performance-linux
# set to "false" for speedup during build
crac = true

# set to "false" for speedup during build
shrink = true
