#sideMenu {
    -fx-background-color: -jr-white;
}

#sideMenu > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 8 8 8 8;
    -fx-background: -jr-white;
}

.preferencePaneContainer {
    -fx-padding: 0em 1em 0em 2em;
}
