<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="org.jabref">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <GuiAppender name="GuiLogger">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </GuiAppender>
        <ApplicationInsightsAppender name="applicationInsightsAppender" />
    </Appenders>
    <Loggers>
        <Logger name="org.jabref" level="INFO">
            <AppenderRef ref="GuiLogger"/>
        </Logger>
        <Logger name="org.apache.pdfbox" level="ERROR">
            <AppenderRef ref="GuiLogger"/>
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="applicationInsightsAppender" level="ERROR"/>
        </Root>
    </Loggers>
</Configuration>
