/*
* Default JabRef theme
* Uses the internal JabRef styles.
* Uses '-jr-xxx' variables so custom styles can be built on top of it.
* All hardcoded colors should be carefully removed at one point (extract to a variable) to improve custom theming.
*/

@import "internal/jabref-base.css";

@media (prefers-color-scheme: light) {
    * {
        -jr-base: #EBEBEB;
        -jr-accent: #A3B7E6;

        -jr-checked: #50618F;

        -jr-tooltip-bg: #A3B7E6;
        -jr-tooltip-fg: #000;

        -jr-scrollbar-thumb: derive(#EBEBEB, -35%);
        -jr-scrollbar-track: derive(#EBEBEB, 85%);

        -jr-inner-bg: derive(#EBEBEB, 95%);
        -jr-mid-text-color: #404040;
        -jr-light-text-color: #FFFFFF;
        -jr-outer-border: derive(#EBEBEB, -5%);
    }
}

@media (prefers-color-scheme: dark) {
    * {
        -jr-base: #141824;
        -jr-accent: #255652;

        -jr-checked: #2C9490;

        -jr-tooltip-bg: #255652;
        -jr-tooltip-fg: derive(#E5E7EA, 50%);

        -jr-scrollbar-thumb: #E5E7EA;
        -jr-scrollbar-track: derive(#272B38, -90%);

        -jr-inner-bg: #272B38;
        -jr-mid-text-color: #7D8591;
        -jr-light-text-color: #E5E7EA;
        -jr-outer-border: #424758;
    }
}

/* JavaFX CSS overwrites with our JabRef colors. */
.root {
    -fx-base: -jr-base;

    -fx-background: derive(-jr-base, 25%);
    -fx-color: -jr-base;
    -fx-accent: -jr-accent;

    -fx-body-color: derive(-jr-base, 20%);
    -fx-body-color-bottomup: derive(-jr-base, 20%);
    -fx-body-color-to-right: derive(-jr-base, 20%);

    -fx-control-inner-background: -jr-inner-bg;
    -fx-control-inner-background-alt: derive(-jr-inner-bg, -5%);

    -fx-dark-text-color: #000;
    -fx-mid-text-color: -jr-mid-text-color;
    -fx-light-text-color: -jr-light-text-color;

    -fx-box-border: derive(-jr-base, -5%);
    -fx-text-box-border: derive(-jr-base, 10%);
    -fx-outer-border: -jr-outer-border;

    -fx-inner-border: derive(-jr-base, 65%);
    -fx-inner-border-horizontal: derive(-jr-base, 65%);
    -fx-inner-border-bottomup: derive(-jr-base, 65%);

    -fx-focus-color: -jr-accent;
    -fx-faint-focus-color: derive(-jr-accent, 50%);

    -fx-default-button: derive(-jr-accent, 50%);
    -fx-hover-base: derive(-jr-base, 30%);
    -fx-pressed-base: derive(-jr-base, -5%);

    -fx-shadow-highlight-color: #FFFFFF12;

    -fx-mark-color: -fx-text-base-color;
    -fx-mark-highlight-color: transparent;

    -fx-selection-bar: -jr-accent;
    -fx-selection-bar-non-focused: lightgrey;

    -fx-cell-focus-inner-border: derive(-jr-accent, 30%);

    -fx-focused-text-base-color: -jr-light-text-color;
    -fx-focused-mark-color: -jr-light-text-color;
}

/* JavaFX Button-like */
.button,
.toggle-button,
.menu-button,
.choice-box,
.combo-box-base,
.combo-box-base:editable > .arrow-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0.25em;
    -fx-text-fill: -fx-text-base-color;
}

/* JavaFX Focus */
.scroll-pane:focused,
.split-pane:focused,
.list-view:focused,
.tree-view:focused,
.table-view:focused,
.tree-table-view:focused {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

/* JavaFX Layout container */
.scroll-pane,
.scroll-pane > .viewport,
.split-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

/* JavaFX Dialog */
.dialog-pane {
    -fx-font-size: 1em;
    -fx-background-color: -fx-control-inner-background;
}

/* JavaFX TextFlow / HyperLink */
TextFlow > Text {
    -fx-fill: -fx-text-background-color;
}

TextFlow > .hyperlink,
.hyperlink {
    -fx-padding: 0;
    -fx-underline: false;
    -fx-border-style: null;
    -fx-border-color: null;
    -fx-text-fill: -jr-theme;
    -fx-fill: -jr-theme;
}

TextFlow > .hyperlink:visited,
.hyperlink:visited {
    -fx-text-fill: -jr-accent;
    -fx-fill: -jr-accent;
}

.TextFlow > .hyperlink:hover,
.hyperlink:hover {
    -fx-underline: true;
}

TextFlow > .tooltip-text-bold {
    -fx-font-weight: bold;
}

TextFlow > .tooltip-text-italic {
    -fx-font-style: italic;
}

TextFlow > .tooltip-text-monospaced {
    -fx-font-family: monospace;
}

/* JavaFX Tooltip */
.tooltip {
    -fx-background: -jr-tooltip-bg;
    -fx-background-color: -fx-background;
    -fx-opacity: 95%;
    -fx-text-fill: -jr-tooltip-fg;
    -fx-font-size: 1em;
    -fx-show-delay: 300ms;
    -fx-hide-delay: 300ms;
}

.tooltip > TextFlow > Text {
    -fx-font-size: 1em;
}

/* JavaFX Button */
.button {
    -fx-border-color: -fx-outer-border; /* rgba(0, 0, 0, 0.23); */
    -fx-border-width: 0.062em;
    -fx-padding: 0.5em 1em 0.5em 1em;
}

.button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.12);
}

.button:focused,
.button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.button:default {
    -fx-background-color: -fx-default-button;
}

.button:default:hover {
    -fx-background-color: derive(-fx-default-button, -10%);
}

.button:default:focused,
.button:default:pressed {
    -fx-background-color: derive(-fx-default-button, -20%);
}

/* JavaFX ToggleButton */
.toggle-button:hover,
.toggle-button:selected:hover {
    -fx-background-color: -jr-icon-background-active;
}

.toggle-button:selected {
    -fx-background-color: -jr-icon-background-active;
    -fx-text-fill: -jr-selected;
    -fx-fill: -jr-selected;
}

/* JavaFX CheckBox */
.check-box {
    -fx-label-padding: 0.0em 0.0em 0.0em 0.75em;
    -fx-text-fill: -fx-text-background-color;
}

.check-box > .box {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: -fx-text-base-color;
    -fx-border-color: -fx-outer-border; /* rgba(0, 0, 0, 0.54); */
    -fx-border-width: 0.125em;
    -fx-border-radius: 0.062em;
    -fx-padding: 0.1em 0.1em 0.2em 0.2em;
}

.check-box:selected > .box {
    -fx-background-insets: 0.125em;
    -fx-border-color: -jr-checked;
    -fx-background-color: -jr-checked;
}

.check-box > .box > .mark {
    -fx-padding: 0.2em 0.2em 0.2em 0.2em;
}

.check-box:selected > .box > .mark {
    -fx-background-color: -fx-control-inner-background;
    -fx-shape: "M6.61 11.89L3.5 8.78 2.44 9.84 6.61 14l8.95-8.95L14.5 4z";
    -fx-stroke-width: 5;
}

/* JavaFX RadioButton */
.radio-button > .radio {
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-padding: 0.35em; /* padding from outside edge to the inner dot */
    -fx-background-color: rgba(0, 0, 0, 0.54), -fx-control-inner-background;
    -fx-background-insets: 0, 0.125em;
    -fx-text-fill: -fx-text-base-color;
}

.radio-button:selected > .radio {
    -fx-background-color: -jr-checked, -fx-background;
}

.radio-button > .radio > .dot {
    -fx-padding: 0.25em; /* radius of the inner dot when selected */
    -fx-background-insets: 0;
}

.radio-button:selected > .radio > .dot {
    -fx-background-color: -jr-checked;
}

/* JavaFX ColorPicker */
.color-picker:armed,
.color-picker:hover,
.color-picker:focused,
.color-picker {
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-effect: null;
}

.color-palette {
    -fx-background-color: -fx-background;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.color-palette-region .button {
    -fx-border-width: 0;
}

.custom-color-dialog {
    -fx-background-color: -fx-control-inner-background;
}

/* JavaFX Progress Indicator */
.progress-indicator {
    -fx-progress-color: -jr-theme;
    -fx-border-width: 0;
    -fx-background-color: -jr-icon-background;
}

.progress-indicator:hover {
    -fx-background-color: -jr-icon-background-active;
}

/* JavaFX MenuBar / MenuItem */
.menu-bar {
    -fx-background-color: -jr-menu-background;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.menu-bar > .container > .menu-button > .label {
    -fx-padding: 0.41777em 0.41777em 0.41777em 0.41777em;
}

.menu-bar > .menu {
    -fx-padding: 0.0em 0.666667em 0.0em 0.666667em;
}

.menu-bar .menu-button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
}


.menu-bar > .container {
    -fx-border-width: 0;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -jr-hover;
    -fx-background: -jr-hover;
}

.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -jr-menu-forground-active;
}

.menu-item {
    -fx-padding: 0.5em 0.41777em 0.5em 0.41777em;
}

.menu-item > .label {
    -fx-text-fill: -jr-text-foreground;
}

.menu-item:focused {
    -fx-text-fill: -jr-hover;
    -fx-background: -jr-hover;
    -fx-background-color: -jr-hover;
}

.menu-item:focused > .label {
    -fx-text-fill: -jr-menu-forground-active;
}

.menu-button > .label {
    -fx-padding: 0 8 0 8;
}

/* JavaFX ContextMenu */
.context-menu {
    -fx-border-color: -fx-outer-border;
    -fx-border-width: 1;
}

/* JavaFX Separator */
.separator:horizontal .line {
    -fx-border-color: -jr-separator;
    -fx-border-width: 0.3;
    -fx-border-insets: 1 15 0 20;
}

.separator:vertical .line {
    -fx-border-color: -jr-separator;
    -fx-border-width: 1;
    -fx-border-insets: 5 15 5 15;
}

/* JavaFX TabPane */
.tab-pane {
    -fx-open-tab-animation: NONE;
    -fx-close-tab-animation: NONE;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: -jr-background-alt;
    -fx-border-color: -fx-outer-border;
    -fx-border-width: 0.5 0.5 0.5 0.5;
    -fx-padding: 0.3em 0.9em 0.3em 0.9em;
    -fx-pref-height: 3em;
}

.tab-pane > .tab-header-area > .headers-region > .tab .tab-label {
    -fx-text-fill: -fx-mid-text-color;
}

.tab-pane > .tab-header-area > .headers-region > .control-buttons-tab {
    -fx-border-color: -jr-theme;
    -fx-fill: -jr-theme;
    -fx-text-fill: -jr-theme;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -fx-control-inner-background;
    -fx-border-color: -jr-theme;
    -fx-border-width: 3 0 0 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected .tab-label {
    -fx-fill: -jr-theme;
    -fx-text-fill: -jr-theme;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected .tab-close-button {
    -fx-background-color: -jr-theme;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: -jr-background-alt;
}

.tab-pane > .tab-header-area {
    -fx-padding: 0 0 0 0;
}

/* JavaFX SplitPane */
.split-pane > .split-pane-divider {
    -fx-background-color: -jr-sidepane-background;
    -fx-padding: 0 .5 0 .5;
}

/* JavaFX ComboBoxBase / ComboBox / DatePicker */
.combo-box-base {
    -fx-background-color: -fx-outer-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0, 0;
}

.combo-box > .list-cell {
    -fx-background-color: -fx-outer-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1 0 1 1;
    -fx-text-fill: -fx-text-base-color;
}

.combo-box-popup > .list-view {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-effect: null;
    -fx-border-width: 1;
    -fx-border-color: -fx-outer-border;
    -fx-padding: 0;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 4 0 4 5;
    /* No alternate highlighting */
    -fx-background: -fx-control-inner-background;
}

.combo-box-popup > .list-view > .placeholder > .label {
    -fx-text-fill: -fx-text-base-color;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background: -fx-selection-bar;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: -fx-selection-bar;
}

.combo-box-base:editable > .text-field,
.date-picker > .text-field {
    -fx-background-color: -fx-outer-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}

.combo-box-base:editable:focused > .text-field,
.combo-box-base:editable > .text-field:focused,
.date-picker > .text-field:focused {
    -fx-background-color: -jr-accent, -fx-control-inner-background;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0;
}

.date-picker:focused > .text-field {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background: -jr-accent;
    -fx-background-color: -fx-background;
}

/* JavaFX Accordion / TitledPane */

.accordion .titled-pane {
    -fx-skin: "org.jabref.gui.util.CustomTitledPaneSkin";
    -fx-arrow-side: right;
}

.accordion .titled-pane .title {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 5 5 5 5;
}

.accordion .titled-pane > *.content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/*
 * The arrow button has some right padding that's added
 * by "modena.css". This simply puts the padding on the
 * left since the arrow is positioned on the right.
 */
.titled-pane > .title > .arrow-button {
    -fx-padding: 0.0em 0.0em 0.0em 0.583em;
}

/* JavaFX ScrollBar / ScrollPane */
.scroll-bar {
    -fx-background-color: transparent;
    -fx-opacity: 0.3;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: -jr-scrollbar-track;
    -fx-opacity: 0.6;
    -fx-background-radius: 0em;
}


.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -jr-scrollbar-thumb;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed {
    -fx-background-color: derive(-jr-scrollbar-thumb, -30%);
}

/* Hide increment and decrement buttons */
.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/* Hide increment and decrement arrows */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow,
.scroll-bar:horizontal > .increment-button > .increment-arrow,
.scroll-bar:vertical > .decrement-button > .decrement-arrow,
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: null;
    -fx-padding: 0;
}

/* Need some padding since otherwise no scroll-bar is displayed at all */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-padding: 0.333em 0.167em 0.333em 0.167em; /* 4 2 4 2 */
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 0em 0.333em 0em 0.333em; /* 2 4 2 4 */
}

/* Restore full visibility of scrollbars for active elements */
.list-view:hover .scroll-bar,
.tree-view:hover .scroll-bar,
.table-view:hover .scroll-bar,
.tree-table-view:hover .scroll-bar,
.text-input:hover .scroll-bar,
.scroll-pane:hover .scroll-bar {
    -fx-opacity: 1;
}

/* JavaFX TextInput / TextField / TextArea */

.text-input {
    -fx-background-color: -fx-outer-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-prompt-text-fill: #808080;
}

.text-input:focused {
    -fx-highlight-fill: derive(-jr-accent, 20%);
    -fx-background-color: -jr-accent, -fx-control-inner-background;
    -fx-background-insets: 0, 2;
    -fx-highlight-text-fill: -fx-text-inner-color;
}

.text-area {
    -fx-background-color: -fx-control-inner-background;
}

.text-area .content {
    -fx-background-color: -fx-outer-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 0.333333em 0.583em 0.333333em 0.583em;
    -fx-background-radius: 0;
}

.text-area:focused .content {
    -fx-background-color: -jr-accent, -fx-control-inner-background;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0;
}

.text-area > .scroll-pane > .corner {
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: -fx-background;
}

/* JavaFX ProgressBar */
.progress-bar > .bar {
    -fx-background-color: -jr-theme;
}

.progress-bar:indeterminate > .bar {
    -fx-background-color: -jr-theme;
}

.progress-bar > .track {
    -fx-background-color: -jr-accent;
}

/* JavaFX Cell Container */
.table-view,
.tree-table-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-table-cell-border-color: transparent;
}

.table-view:focused,
.tree-table-view:focused {
    -fx-background-insets: 0;
}

.table-cell,
.tree-table-cell {
    -fx-cell-size: 4.0em;
    -fx-padding: 0.5em 1em 0.5em 1em;
    -fx-fill: -fx-text-background-color;
    -fx-text-fill: -fx-text-background-color;
}

.table-row-cell:filled:hover,
.tree-table-row-cell:filled:hover,
.table-row-cell:filled:hover,
.tree-table-row-cell:filled:hover {
    -fx-background-color: -jr-hover;
    -fx-fill: -fx-focused-text-base-color;
    -fx-text-fill: -fx-focused-text-base-color;
}

.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:filled:selected,
.tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:filled:selected {
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

/* Selected rows */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:filled:selected {
    -fx-background: -jr-selected;
    -fx-background-color: -jr-selected;
    -fx-table-cell-border-color: transparent;
}

/* Selected when control is not focused
 * In the context of the MainTable: an element is focused at a double click. A single click "just" selects it.
 */
.list-cell:filled:selected,
.tree-cell:filled:selected,
.table-row-cell:filled:selected,
.tree-table-row-cell:filled:selected,
.table-row-cell:filled > .table-cell:filled:selected,
.tree-table-row-cell:filled > .tree-table-cell:filled:selected {
    -fx-background: -jr-selected;
    -fx-background-color: -jr-selected;
    -fx-table-cell-border-color: transparent;
}

.column-header-background {
    -fx-background-color: -fx-control-inner-background;
    -fx-border-width: 0;
}

.column-header-background:hover {
    -fx-background-color: -fx-outer-border;
}

.column-header,
.table-view .filler,
.tree-table-view .filler {
    -fx-background-color: transparent, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0.02em 0 0.02em;
    -fx-font-weight: bold;
    -fx-size: 3em;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -fx-outer-border;
}

.column-header > .label {
    -fx-padding: 0 1em 0 1em;
    -fx-alignment: center-left;
    -fx-text-fill: -fx-text-inner-color;
}

/* JavaFX WebView */
.web-view {
    -fx-page-fill: -jr-light-text-color;
}
