.list-content {
    -fx-padding: 10px;
}

.info-section {
    -fx-padding: 10px;
    -fx-background-color: -fx-background;
}

.info-section .glyph-icon {
    -fx-font-size: 24.0;
}

.exception .glyph-icon {
    -fx-font-size: 18.0;
    -fx-fill: -jr-error;
}

.output .glyph-icon {
    -fx-font-size: 18.0;
    -fx-fill: -jr-warn;
}

.log .glyph-icon {
    -fx-font-size: 18.0;
    -fx-fill: -jr-info;
}

.custom-buttons {
    -fx-padding: 5px;
}

.exception {
    -fx-text-fill: -fx-text-base-color;
}

.output {
    -fx-text-fill: -fx-text-base-color;
}

.log {
    -fx-text-fill: -fx-text-base-color;
}

