.list-content {
	-fx-padding: 10.0px;
}

.list-cell:default {
	-fx-background-color: white;
}

.info-section {
	-fx-padding: 10.0px;
}

.info-section .icon {
	-fx-font-size: 48.0;
}

.exception{
    -fx-text-fill: -fx-negative;
}

.exception .icon {
	-fx-fill: -fx-negative;
}

.log {
    -fx-text-fill: -fx-info;
}

.log .icon {
	-fx-fill: -fx-info;
}

.custom-buttons {
	-fx-padding: 5.0px;
}
