.text-area {
    /*-fx-text-fill: text-area-foreground;*/
    /*-fx-control-inner-background: text-area-background;*/
}

.text-area *.text {
    -fx-alignment: center-left;
}

.editorPane {
    -fx-hgap: 10;
    -fx-vgap: 6;
    /*-fx-background-color: -jr-white;*/
    -fx-padding: 5 5 5 15;
}

.date-picker > .date-picker-display-node {
    /*-fx-text-fill: text-area-foreground;*/
    -fx-text-origin: baseline;
}

.date-picker > .date-picker-display-node *.text {
    -fx-text-origin: bottom;
}

.combo-box > *.text {
    /*-fx-text-fill: text-area-foreground;*/
    -fx-text-origin: baseline;
}

.list-cell:odd {
    /*-fx-background: text-area-background;*/
}

/* Selected rows */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
    -fx-background: -fx-selection-bar;
}
/* Selected when control is not focused */
.list-cell:filled:selected,
.tree-cell:filled:selected,
.table-row-cell:filled:selected,
.tree-table-row-cell:filled:selected,
.table-row-cell:filled > .table-cell:selected,
.tree-table-row-cell:filled > .tree-table-cell:selected {
    -fx-background: -fx-selection-bar;
}
/* focused cell (keyboard navigation) */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:focused,
.table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:focused,
.tree-table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:focused,
.table-view:focused:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:focused,
.tree-table-view:focused:cell-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell > .tree-table-cell:focused {
    -fx-background: -fx-selection-bar;
}

#typeLabel {
    -fx-padding: 0.1em;
    -fx-font-size: 1.166667em;
    -fx-font-weight: bold;
    -fx-text-fill: -jr-icon;
}

#typeLabel:hover {
    -fx-padding: 0.1em;
    -fx-font-size: 1.166667em;
    -fx-font-weight: bold;
    -fx-text-fill: derive(-jr-icon, -30%);
}

.flatButton.narrow {
    -fx-padding: 0.1em;
}

.flatButtonNoSpaceBottom.narrow {
    -fx-padding: 0.1em 0.1em -0.2em 0.1em;
}

.flatButtonNoSpaceTop.narrow {
    -fx-padding: -0.2em 0.1em 0.1em 0.1em;
}

/*.flatButton .glyph-icon, .flatButtonNoSpaceTop .glyph-icon, .flatButtonNoSpaceBottom .glyph-icon {*/
    /*-fx-fill: -jr-icon;*/
/*}*/

/*.flatButton .glyph-icon:hover, .flatButtonNoSpaceTop .glyph-icon:hover, .flatButtonNoSpaceBottom .glyph-icon:hover {*/
    /*-fx-fill: derive(-jr-icon, -30%);*/
    /*-fx-effect: dropshadow(one-pass-box, -jr-icon, 5, 0, 1, 1);*/
/*}*/

.editorPane .glyph-icon {
    -glyph-size: 16px;
}


.tool-bar {
    /*-fx-background-color: -jr-toolbar;*/
    -fx-background-insets: 0;
    /*-fx-border-color: -jr-gray-1;*/
    /*-fx-border-width: 1 1 1 1;*/
    /*-fx-border-radius: 2 2 2 2;*/
    /*-fx-background-radius: 2 2 2 2;*/
    /*-fx-text-fill: -jr-icon;*/
    /*-fx-fill: -jr-icon;*/
}


.tool-bar > .container > .separator {
    /*-fx-background-color: -jr-separator;*/
}

.tool-bar .glyph-icon {
    -glyph-size: 16px;
    -fx-font-size: 2em;
}

.warning-icon {
    -fx-fill: -jr-warn;
}

.error-icon {
    -fx-text-fill: -jr-error;
    -fx-fill: -jr-error;
}

.tooltip-warning {
    -fx-background-color: -jr-warn;
}

.tooltip-error {
    -fx-background-color: -jr-error;
}
