.text-area {
    -fx-text-fill: text-area-foreground;
    -fx-control-inner-background: text-area-background;
}

.text-area *.text {
    -fx-alignment: center-left;
}

.editorPane {
    -fx-hgap: 10;
    -fx-vgap: 6;
    -fx-background-color: text-area-background;
    -fx-padding: 5 0 0 5;
}

.date-picker > .date-picker-display-node {
    -fx-text-fill: text-area-foreground;
    -fx-text-origin: baseline;
}

.date-picker > .date-picker-display-node *.text {
    -fx-text-origin: bottom;
}

.label > *.text {
    -fx-translate-y: 0;
}

.combo-box > *.text {
    -fx-text-fill: text-area-foreground;
    -fx-text-origin: baseline;
}

.list-cell:odd {
    -fx-background-color: text-area-background;
}
