.text-area {
    -fx-text-fill: text-area-foreground;
    -fx-control-inner-background: text-area-background;
}

.text-area *.text {
    -fx-alignment: center-left;
}

.editorPane {
    -fx-hgap: 10;
    -fx-vgap: 6;
    -fx-background-color: text-area-background;
    -fx-padding: 5 0 0 5;
}
