.editorPane {
    -fx-hgap: 10;
    -fx-vgap: 6;
    -fx-background-color: -fx-control-inner-background;
    -fx-padding: 5 5 5 15;
}

.date-picker > .date-picker-display-node {
    -fx-text-origin: baseline;
}

.date-picker > .date-picker-display-node *.text {
    -fx-text-origin: bottom;
}

.combo-box > *.text {
    -fx-text-origin: baseline;
}

#typeLabel {
    -fx-padding: 0.1em;
    -fx-font-size: 1.166667em;
    -fx-font-weight: bold;
    -fx-text-fill: -jr-theme-text;
}

#typeLabel:hover {
    -fx-padding: 0.1em;
    -fx-font-size: 1.166667em;
    -fx-font-weight: bold;
    -fx-background-color: -jr-icon-background-active;
}

#typeLabel .context-menu {
    -fx-font-size: 0.92em;
    -fx-font-weight: normal;
}

#typeLabel .tooltip {
    -fx-font-size: 1em;
    -fx-font-weight: normal;
}

.code-area .context-menu {
    -fx-font-family: sans-serif;
}

.icon-button.narrow {
    -fx-padding: 0.1em;
}

.icon-buttonNoSpaceBottom.narrow {
    -fx-padding: 0.1em 0.1em -0.2em 0.1em;
}

.icon-buttonNoSpaceTop.narrow {
    -fx-padding: -0.2em 0.1em 0.1em 0.1em;
}

.tool-bar {
    -fx-background-color: -jr-background-alt;
    -fx-background-insets: 0;
}

.tool-bar > .container > .separator {
    -fx-background-color: -jr-separator;
}

.tool-bar .glyph-icon {
    -glyph-size: 16px;
    -fx-font-size: 2em;
    -fx-fill: -jr-theme-text;
    -fx-text-fill: -jr-theme-text;
}

.warning-icon {
    -fx-fill: -jr-warn;
}

.error-icon {
    -fx-text-fill: -jr-error;
    -fx-fill: -jr-error;
}

.tooltip-warning {
    -fx-background-color: -jr-warn;
}

.tooltip-error {
    -fx-background-color: -jr-error;
}

.code-area .text {
    -fx-fill: -fx-text-background-color;
}

.gdpr-dialog {
    -fx-font-size: 14pt;
}

.related-articles-tab {
    -fx-padding: 20 20 20 20;
}

.recommendation-heading {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

.recommendation-description {
    -fx-font-style: italic;
}

.recommendation-item {
    -fx-padding: 0 0 0 20;
}

#bibtexSourceCodeArea .search {
    -fx-fill: red;
}

.bibtexSourceCodeArea .text {
    -fx-fill: -fx-text-background-color;
}

.latex-citations-tab {
    -fx-background-color: -fx-control-inner-background;
    -fx-padding: 20px;
}

.latex-citations-title-text {
    -fx-font-size: 140%;
    -fx-font-weight: bold;
}

.latex-citations-context-box {
    -fx-border-color: grey;
    -fx-border-style: dashed;
    -fx-border-width: 2px;
    -fx-font-size: 110%;
    -fx-font-style: italic;
    -fx-padding: 15px;
}

.latex-citations-position-text {
    -fx-font-family: 'Courier New', Courier, monospace;
}

.latex-citations-not-found-text {
    -fx-font-size: 110%;
}

.latex-citations-not-found-advice-text {
    -fx-font-weight: bold;
}

.latex-citations-error-text {
    -fx-font-size: 110%;
    -fx-font-weight: bold;
    -fx-fill: -fx-accent;
}
