<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="net.sf.jabref.core" version="2.4b1"
	class="net.sf.jabref.plugin.core.JabRefPlugin">

	<!-- The code of the core plugin and all its extensions is in the src/java folder.
	     If you write your own plug-in that has resource files or 
		 code you will need a runtime section with nested library section here. -->

	<!-- To extend JabRef with an Entry Fetcher use the following extension point -->
	<extension-point id="EntryFetcher">
		<parameter-def type="string" id="entryFetcher"
			custom-data="net.sf.jabref.imports.EntryFetcher" />
		<parameter-def type="string" id="name" />
		<parameter-def type="string" id="description"
			multiplicity="none-or-one" />
	</extension-point>

	<extension id="IEEEFetcher" plugin-id="net.sf.jabref.core"
		point-id="EntryFetcher">
		<parameter id="entryFetcher"
			value="net.sf.jabref.imports.IEEEXploreFetcher" />
		<parameter id="name" value="IEEEXplore Entry Fetcher" />
		<parameter id="description"
			value="Fetch Entries from IEEE Xplore." />
	</extension>

    <!-- ACM Portal Fetcher disabled as the current implementation gets users banned -->
    <extension id="ACMPortalFetcher" plugin-id="net.sf.jabref.core"
		point-id="EntryFetcher">
		<parameter id="entryFetcher"
			value="net.sf.jabref.imports.ACMPortalFetcher" />
		<parameter id="name" value="ACM Portal Entry Fetcher" />
		<parameter id="description"
			value="Fetch Entries from ACM Portal." />
	</extension>

	<extension id="CiteSeerFetcher" plugin-id="net.sf.jabref.core"
		point-id="EntryFetcher">
		<parameter id="entryFetcher"
			value="net.sf.jabref.imports.CiteSeerEntryFetcher" />
		<parameter id="name" value="Citeseer Entry Fetcher" />
		<parameter id="description"
			value="Fetch Entries from Citeseer." />
	</extension>

        <extension id="DiVAtoBibTexFetcher" plugin-id="net.sf.jabref.core"
		point-id="EntryFetcher">
		<parameter id="entryFetcher"
			value="net.sf.jabref.imports.DiVAtoBibTeXFetcher" />
		<parameter id="name" value="DiVA" />
		<parameter id="description"
			value="Fetch entries from DiVA." />
	</extension>

        <extension id="DOItoBibTexFetcher" plugin-id="net.sf.jabref.core"
		point-id="EntryFetcher">
		<parameter id="entryFetcher"
			value="net.sf.jabref.imports.DOItoBibTeXFetcher" />
		<parameter id="name" value="DOI to BibTeX Fetcher" />
		<parameter id="description"
			value="Fetch entries based on DOI." />
	</extension>

	<extension id="OAI2Fetcher" plugin-id="net.sf.jabref.core"
		point-id="EntryFetcher">
		<parameter id="entryFetcher"
			value="net.sf.jabref.imports.OAI2Fetcher" />
		<parameter id="name" value="OAI2 Entry Fetcher" />
		<parameter id="description"
			value="Fetch Entries from OAI2 Archives like ArXiv." />
	</extension>

	<extension id="ADSFetcher" plugin-id="net.sf.jabref.core"
		point-id="EntryFetcher">
		<parameter id="entryFetcher"
			value="net.sf.jabref.imports.ADSFetcher" />
		<parameter id="name" value="ADS Entry Fetcher" />
		<parameter id="description"
			value="Fetch Entries from ADS." />
	</extension>

	<extension id="SPIRESFetcher" plugin-id="net.sf.jabref.core"
		point-id="EntryFetcher">
		<parameter id="entryFetcher"
			value="net.sf.jabref.imports.SPIRESFetcher" />
		<parameter id="name" value="SPIRES Entry Fetcher" />
		<parameter id="description"
			value="Fetch Entries from SLAC SPIRES Database." />
	</extension>

	<extension id="INSPIREFetcher" plugin-id="net.sf.jabref.core"
		point-id="EntryFetcher">
		<parameter id="entryFetcher"
			value="net.sf.jabref.imports.INSPIREFetcher" />
		<parameter id="name" value="INSPIRE Entry Fetcher" />
		<parameter id="description"
			value="Fetch Entries from SLAC INSPIRE Database." />
	</extension>

	<extension id="MedlineFetcher" plugin-id="net.sf.jabref.core"
		point-id="EntryFetcher">
		<parameter id="entryFetcher"
			value="net.sf.jabref.imports.MedlineFetcher" />
		<parameter id="name" value="Medline Entry Fetcher" />
		<parameter id="description"
			value="Fetch Entries from Medline." />
	</extension>

	<extension id="JSTORFetcher" plugin-id="net.sf.jabref.core"
		point-id="EntryFetcher">
		<parameter id="entryFetcher"
			value="net.sf.jabref.imports.JSTORFetcher2" />
		<parameter id="name" value="JSTOR Entry Fetcher" />
		<parameter id="description"
			value="Fetch Entries from JSTOR." />
	</extension>

    <extension id="CiteSeerXFetcher" plugin-id="net.sf.jabref.core"
	       point-id="EntryFetcher">
      <parameter id="entryFetcher"
		 value="net.sf.jabref.imports.CiteSeerXFetcher" />
      <parameter id="name" value="CiteSeerX Entry Fetcher" />
      <parameter id="description"
		 value="Fetch Entries from CiteSeer." />
    </extension>
    
    <extension id="DBLPFetcher" plugin-id="net.sf.jabref.core"
       point-id="EntryFetcher">
      <parameter id="entryFetcher"
        value="net.sf.jabref.imports.DBLPFetcher" />
      <parameter id="name" value="DBLP Entry Fetcher" />
      <parameter id="description"
        value="Fetch Entries from DBLP." />
    </extension>

    <extension id="ISBNtoBibTeXFetcher" plugin-id="net.sf.jabref.core"
       point-id="EntryFetcher">
      <parameter id="entryFetcher"
        value="net.sf.jabref.imports.fetcher.ISBNtoBibTeXFetcher" />
      <parameter id="name" value="ISBN to BibTeX Fetcher" />
      <parameter id="description"
        value="Fetch entries based on ISBN." />
    </extension>

    <extension id="GoogleScholarFetcher" plugin-id="net.sf.jabref.core"
		point-id="EntryFetcher">
      <parameter id="entryFetcher"
		 value="net.sf.jabref.imports.GoogleScholarFetcher" />
      <parameter id="name" value="Google Scholar Entry Fetcher" />
      <parameter id="description"
		 value="Fetch Entries from Google Scholar." />
    </extension>
    <!--<extension id="ScienceDirectFetcher" plugin-id="net.sf.jabref.core"
        point-id="EntryFetcher">
        <parameter id="entryFetcher"
            value="net.sf.jabref.imports.ScienceDirectFetcher" />
        <parameter id="name" value="ScienceDirect Entry Fetcher" />
        <parameter id="description"
            value="Fetch Entries from ScienceDirect." />
    </extension>-->
	

</plugin>
