.text-changed {
    -fx-fill: darkgreen;
}

.text-added {
    -fx-fill: #54A3F2;
}

.text-removed {
    -fx-fill: #FA5B68;
}

.grid-pane {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.toggle-button {
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-border-image-insets: 0;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.box {
    -fx-spacing: 10;
}
