.list-view .list-cell {
    -fx-padding: 10px;
}

.context-box {
    -fx-border-color: grey;
    -fx-border-insets: 10px 0px;
    -fx-border-style: dashed;
    -fx-border-width: 2px;
    -fx-font-size: 110%;
    -fx-padding: 10px;
}

.position-text {
    -fx-font-family: 'Courier New', Courier, monospace;
}
