.keybinding-table {
	-fx-table-cell-border-color: transparent;
}

.tree-table-row-cell:empty {
    visibility: hidden;
}

.tree-table-row-cell:selected > .tree-table-cell > .icon, .tree-table-row-cell:pressed > .tree-table-cell > .icon {
   -fx-fill: white;
}

.dialog-pane *.button-bar {
	-fx-max-height: 0;
	-fx-pref-height: 0;
}
