.about-heading {
    -fx-font-size: 30;
}

.about-heading:pressed {
	-fx-text-fill: -fx-focus-color;
}

.top-padding {
    -fx-padding: 5 0 0 0;
}

.dev-heading {
    -fx-font-size: 18;
    -fx-padding: -10 0 0 0;
}

.sub-heading {
    -fx-font-size: 18;
    -fx-padding: 5px;
}

.about-top {
    -fx-padding: 0 5 15 5;
}

.space {
    -fx-padding: 0 5 0 5;
}

.space-after {
    -fx-padding: 0 5 0 0;
}

.info-sections {
	-fx-padding: 5px;
}

.custom-buttons {
	-fx-padding: 10 0 0 0;
}

.dialog-pane *.button-bar {
	-fx-max-height: 0;
	-fx-pref-height: 0;
}

.logo-pane {
    fx-fill: transparent;
}

.logo-pane SVGPath {
    -fx-fill: #4f5f8f;
}
