.merged-field {
    -fx-border-color: #dfdfdf;
    -fx-border-width: 0 0 0 1.5;
}

.merged-field .styled-text-area {
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-border-color: #dfdfdf;
    -fx-background-color: white;
}

.field-value:selected .selection-box {
    -fx-background-color: derive(-jr-accent, 20%);
    -fx-border-color: -jr-accent;
}

.field-value .selection-box {
    -fx-background-color: #0000;
    -fx-border-width: 1;
    -fx-border-color: #0000;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.field-value .label {
    -fx-font-size: 13;
}

.field-value .text-area {
    -fx-font-size: 13;
}


.field-value .checkmark-icon {
    -fx-icon-size: 16;
    -fx-icon-color: -jr-gray-2;
    -fx-opacity: 100%;
}
.field-value:disabled .checkmark-icon {
    -fx-opacity: 0%;
}

.field-value:selected .checkmark-icon {
    -fx-icon-size: 16;
    -fx-icon-color: derive(-jr-accent, -30%);;
    -fx-opacity: 100%;
}

.unchanged {

}

.addition {
    -rtfx-background-color: rgba(35, 225, 96, 0.26);
}

.deletion {
    -rtfx-background-color: rgba(248, 62, 68, 0.26);
}
