.merged-field {
    -fx-border-color: #dfdfdf;
    -fx-border-width: 0 0 0 1.5;
}

.merged-field .styled-text-area {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #dfdfdf
}

.field-value:selected .selection-box {
    -fx-background-color: -jr-transparent-green;
    -fx-border-color: -jr-green;
}

.field-value .selection-box {
    -fx-background-color: #0000;
    -fx-padding: 8;
    -fx-border-width: 1;
    -fx-border-color: #219b3800;
    -fx-border-style: SOLID;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.field-value .label {
    -fx-font-size: 13;
}

.field-value .text-area {
    -fx-font-size: 13;
}

.field-value .checkmark {
    -fx-icon-size: 13;
    -fx-icon-color: #25b060;
    -fx-opacity: 0%;
}

.field-value:selected .checkmark {
    -fx-icon-size: 14;
    -fx-icon-color: -jr-green;
    -fx-opacity: 100%;
}

.unchanged {

}

.addition {
    -rtfx-background-color: rgba(35, 225, 96, 0.26);
}

.deletion {
    -rtfx-background-color: rgba(248, 62, 68, 0.26);
}


* {
    -jr-transparent-green: rgba(16, 172, 132, 0.15);
}
