name: Automerge Pull Requests
on: [pull_request]

jobs:
  automerge:
    name: Automerge Dependabot
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: 'Wait for status checks'
        id: waitforstatuschecks
        uses: "WyriHaximus/github-action-wait-for-status@v1.3"
        with:
          ignoreActions: Automerge Dependabot
          checkInterval: 13
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: Merge pull requests
        uses: pascalgn/automerge-action@v0.13.0
        if: steps.waitforstatuschecks.outputs.status == 'success'
        env:
          MERGE_METHOD: "squash"
          MERGE_LABELS: ""
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
