name: Cleanup after PR

on:
  pull_request:
    types: [closed]

jobs:
  cleanup:
    if: github.event.pull_request.head.repo.full_name == 'JabRef/jabref'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Cancel workflow "binaries" run
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          ignore_sha: true
          workflow_id: 9160969135
      - name: Cancel workflow "binaries (ea)" run
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          ignore_sha: true
          workflow_id: 160969125
      - uses: actions/checkout@v6
      - name: "Check for 'dev: binaries' label"
        id: check_label
        run: |
          labels=$(gh pr view ${{ github.event.pull_request.number }} --json labels -q '.labels[].name')
          if echo "$labels" | grep -Fxq "dev: binaries"; then
            echo "has_label_binaries=yes" >> $GITHUB_OUTPUT
          else
            echo "has_label_binaries=no" >> $GITHUB_OUTPUT
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Delete folder on builds.jabref.org
        if: steps.check_label.outputs.has_label_binaries == 'yes'
        uses: appleboy/ssh-action@v1.2.3
        with:
          script: rm -rf /var/www/builds.jabref.org/www/pull/${{ github.event.pull_request.number }} || true
          host: build-upload.jabref.org
          port: 9922
          username: jrrsync
          key: ${{ secrets.buildJabRefPrivateKey }}
      - name: Get changed docker files
        # in line with dockerimages.yml -> lines 6 and 7
        id: changed-docker-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v46
        with:
          # Avoid using single or double quotes for multiline patterns
          files: |
            .github/workflows/dockerimages.yml
            Dockerfile.*
      - name: Remove Docker Tag
        if: steps.changed-docker-files.outputs.any_changed == 'true'
        # A separate action is needed to delete a tag - see https://github.com/orgs/community/discussions/26267
        uses: rafalkk/remove-dockertag-action@v1
        with:
          tag_name: pr-${{ github.event.pull_request.number }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          is_organization: 'true'
