name: Docker Images

on:
  pull_request:
    paths:
      - '.dockerignore'
      - '.github/workflows/dockerimages.yml'
      - 'Dockerfile.*'
  push:
    branches:
      - main
    tags:
      - '*'
  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.ref }}"
  cancel-in-progress: true

permissions:
  actions: write

jobs:
  build:
    if: ${{ github.repository_owner == 'JabRef' }}
    strategy:
      matrix:
        component: [jabkit, jabsrv]
    runs-on: ubuntu-latest
    steps:
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/JabRef/${{ matrix.component }}
          tags: |
            type=schedule,pattern={{date 'YYYY-MM-DD'}}
            type=ref,event=tag
            type=edge,branch=main
            type=ref,event=pr
      - name: Login to GitHub Container Registry
        if: >
          (github.event_name == 'push' && github.repository == 'JabRef/jabref') ||
          (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == 'JabRef/jabref')
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: koppor
          password: ${{ secrets.CR_PAT }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Fetch all history for all tags and branches
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: 'true'
          show-progress: 'false'
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v3.2.1
        with:
          versionSpec: "5.x"
      - name: Run GitVersion
        id: gitversion
        uses: gittools/actions/gitversion/execute@v3.2.1
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: >
            ${{
              (github.event_name == 'push' && github.repository == 'JabRef/jabref') ||
              (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == 'JabRef/jabref')
            }}
          platforms: linux/amd64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          file: Dockerfile.${{ matrix.component }}
          build-args: |
            VERSION=${{ steps.gitversion.outputs.AssemblySemVer }}
            VERSION_INFO=${{ steps.gitversion.outputs.InformationalVersion }}
