name: On PR opened/updated (adapt label)

on:
  workflow_run:
    # This workflow is triggered after other workflows on update of a PR
    # The one running the longest at pr-comment.yml
    # Otherwise, one needs to use https://github.com/lewagon/wait-on-check-action to wait for all
    workflows: ["Source Code Tests"]
    types: [completed]

jobs:
   apply-labels:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      pull-requests: write
    steps:
      - name: Download artifact from triggering run
        uses: actions/download-artifact@v6
        with:
            name: pr_number
            github-token: ${{ secrets.GITHUB_TOKEN }}
            run-id: ${{ github.event.workflow_run.id }}
        continue-on-error: true
      - name: Check for pr_number.txt
        id: check
        run: |
          if [ -f pr_number.txt ]; then
            echo "continue=true" >> "$GITHUB_OUTPUT"
            echo "pr_number=$(cat pr_number.txt)" >> "$GITHUB_OUTPUT"
          else
            echo "continue=false" >> "$GITHUB_OUTPUT"
          fi
      - name: 'Adapt label "status: changes-required"'
        if: steps.check.outputs.continue == 'true'
        run: |
          PR_NUMBER="${{ steps.check.outputs.pr_number }}"
          REPO="${{ github.repository }}"

          COMMENTS=$(gh api \
            repos/$REPO/issues/$PR_NUMBER/comments \
            --jq '.[] | select(.user.login=="jabref-machine")')

          if [[ -n "$COMMENTS" ]]; then
            echo "Bot comments - adding label changes-required"
            gh issue --repo ${{ github.repository }} edit ${{ steps.check.outputs.pr_number }} --add-label "status: changes-required"
            echo "Added label \"status: changes-required\"" >> $GITHUB_STEP_SUMMARY
          else
            echo "No bot comments - removing label changes-required"
            gh issue --repo ${{ github.repository }} edit ${{ steps.check.outputs.pr_number }} --remove-label "status: changes-required"
            echo "Removed label \"status: changes-required\"" >> $GITHUB_STEP_SUMMARY
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
