name: On PR opened/updated (check)

on:
  # _target is required
  pull_request_target:
  # default: opened, synchronize, reopened

  workflow_dispatch:
    inputs:
      pr_number:
        description: 'PR number'
        required: true

jobs:
  conflicts_with_target:
    if: github.repository == 'JabRef/jabref'
    name: Conflicts with target branch
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          show-progress: 'false'
      - name: Check PR mergeability
        id: check_mergeable
        run: |
          MERGEABLE=$(gh pr view --json mergeable $PR_NUMBER --template '{{.mergeable}}')
          if [ "$MERGEABLE" == "CONFLICTING" ]; then
            echo "❌ Merge conflicts"
            gh issue --repo $REPO edit $PR_NUMBER --remove-label "status: ready-for-review" --add-label "status: changes-required"

            # "workflow dispatch" does not trigger subsequent "on completion" runs
            # Therefore, we emulate ghprcomment here
            if [ "$EVENT" = "workflow_dispatch" ]; then
              echo "Commenting on PR..."
              cat > body.txt <<EOF
              Your pull request conflicts with the target branch.

              Please [merge `upstream/main`](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/working-with-forks/syncing-a-fork#syncing-a-fork-branch-from-the-command-line) with your code.
              For a step-by-step guide to resolve merge conflicts, see <https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/addressing-merge-conflicts/resolving-a-merge-conflict-using-the-command-line>.

              <!-- ghprcomment
              On PR opened/updated (check)
              Conflicts with target branch
              -->
              EOF
              gh issue comment "$PR_NUMBER" --body-file body.txt
            fi;

            exit 1
          fi
          echo "✅ No merge conflicts"
        env:
          EVENT: ${{ github.event_name }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.pull_request.number || inputs.pr_number }}
