name: On PR opened/updated (check)

on:
  # _target is required
  pull_request_target:
  # default: opened, synchronize, reopened

jobs:
  conflicts_with_target:
    if: github.repository == 'JabRef/jabref'
    name: Conflicts with target branch
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write
    steps:
      - uses: actions/checkout@v6
        with:
          show-progress: 'false'
      - name: Check PR mergeability
        id: check_mergeable
        run: |
          MERGEABLE=$(gh pr view --json mergeable ${{ github.event.pull_request.number }} --template '{{.mergeable}}')
          if [ "$MERGEABLE" == "CONFLICTING" ]; then
            echo "❌ Merge conflicts"
            gh issue --repo $REPO edit $PR_NUMBER --remove-label "status: ready-for-review" --add-label "status: changes-required"
            exit 1
          fi
          echo "✅ No merge conflicts"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
