name: Auto-remove ready-for-review

on:
  pull_request_target:
    types: [ready_for_review]

jobs:
  guard-review:
    runs-on: ubuntu-slim
    if: github.event.pull_request.head.repo.full_name != 'JabRef/jabref'
    permissions:
      pull-requests: write
      checks: read
      contents: read

    steps:
      - uses: ./.github/actions/pr-gate
        id: gate
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          ci-running-message: >
            Do not mark a PR as ready-for-review while the CI is running.
            CI checks need to be completed and passed.
          changes-required-message: |
            Do not mark a PR as ready-for-review if changes are required.
            Address the changes first.
      - name: Convert to draft
        if: ${{ steps.gate.outputs.skip-check != 'true' && (steps.gate.outputs.ci_running == 'true' || steps.gate.outputs.changes_required == 'true') }}
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN_ADAPT_REVIEW }}
        run: |
          gh pr ready --undo "${{ github.event.pull_request.number }}"
