name: Tests

on:
  push:
    branches:
      - main
      - main-release
  pull_request:
    # always run on pull requests
  workflow_dispatch:

env:
  SpringerNatureAPIKey: ${{ secrets.SpringerNatureAPIKey }}
  AstrophysicsDataSystemAPIKey: ${{ secrets.AstrophysicsDataSystemAPIKey }}
  IEEEAPIKey: ${{ secrets.IEEEAPIKey }}
  GRADLE_OPTS: -Xmx4g
  JAVA_OPTS: -Xmx4g

concurrency:
  group: tests-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  checkstyle:
    name: Checkstyle
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: 'adopt'
          cache: 'gradle'
      - name: Run check style reporter
        uses: nikitasavinov/checkstyle-action@master
        with:
          reporter: github-pr-check
          checkstyle_config: 'config/checkstyle/checkstyle_reviewdog.xml'
      - name: Run checkstyle gradle
        run: ./gradlew checkstyleMain checkstyleTest checkstyleJmh
      - name: Run markdown-lint
        uses: avto-dev/markdown-lint@v1
        with:
          args: CHANGELOG.md CONTRIBUTING.md README.md
          config: '.markdownlint.yml'
  tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: 'adopt'
          cache: 'gradle'
      - name: Run tests
        run: xvfb-run --auto-servernum ./gradlew check -x checkstyleJmh -x checkstyleMain -x checkstyleTest
        env:
          CI: "true"
      - name: Format failed test results
        if: failure()
        run: |
          sudo apt-get install -qq -y xml-twig-tools xsltproc
          scripts/after-failure.sh
  databasetests:
    name: Database tests
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: 'adopt'
          cache: 'gradle'
      - name: Run tests on PostgreSQL
        run: ./gradlew databaseTest --rerun-tasks
        env:
          CI: "true"
          DBMS: "postgresql"
      - name: Shutdown Ubuntu MySQL
        run: sudo service mysql stop # Shutdown the Default MySQL, "sudo" is necessary, please not remove it
      - name: Start custom MySQL
        uses: mirromutth/mysql-action@v1.1
        with:
          host port: 3800
          container port: 3307
          character set server: 'utf8'
          collation server: 'utf8_general_ci'
          mysql version: '8.0'
          mysql database: 'jabref'
          mysql root password: 'root'
      - name: Run tests on MySQL
        run: ./gradlew databaseTest --rerun-tasks
        env:
          CI: "true"
          DBMS: "mysql"
  guitests:
    name: GUI tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: 'adopt'
          cache: 'gradle'
      - name: Run GUI tests
        run: xvfb-run --auto-servernum ./gradlew guiTest
        env:
          CI: "true"
  codecoverage:
    name: Code coverage
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:10.8
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - name: Check secrets presence
        id: checksecrets
        shell: bash
        run: |
          if [ "CODECOV_TOKEN" == "" ]; then
            echo ::set-output name=secretspresent::false
          else
            echo ::set-output name=secretspresent::true
          fi
        env:
          SNAPCRAFT_LOGIN_FILE: ${{ secrets.CODECOV_TOKEN }}
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: 'adopt'
          cache: 'gradle'
      - name: Update test coverage metrics
        if: ${{ steps.checksecrets.outputs.secretspresent }}
        run: xvfb-run --auto-servernum ./gradlew jacocoTestReport && bash <(curl -s https://codecov.io/bash);
        env:
          CI: "true"
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          DBMS: "postgresql"
  # This is https://github.com/marketplace/actions/gradle-wrapper-validation
  # It ensures that the jar file is from gradle and not by a strange third party.
  gradlevalidation:
    name: "Validate Gradle Wrapper"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
