name: Update Gradle Wrapper

on:
  schedule:
    - cron: "0 5 * * 1"
  pull_request:
    paths:
      - .github/workflows/update-gradle-wrapper.yml
  workflow_dispatch:

jobs:
  update-gradle-wrapper:
    if: github.repository == 'JabRef/jabref'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Update Gradle Wrapper
        uses: gradle-update/update-gradle-wrapper-action@v2
        with:
          labels: dependencies
          repo-token: ${{ secrets.GH_TOKEN_UPDATE_GRADLE_WRAPPER }}
